@media (max-width: 1140px) {
  .header-nav .container {
    justify-content: center;
    gap: 50px;
  }
  .catalog .container {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about .container {
    flex-wrap: wrap;
    justify-content: center;

  }
  .left, .right{
     justify-content: center;
     align-items: center;
     gap: 10px;
  }
  .right{
    padding-bottom: 50px;
  }
}

/* с 868 норм */